.ModalCar {
	overflow: hidden;
	display: block;
	height: 100%;
	z-index: 1000;
	background: #FFFFFF;
	box-shadow: 2px 2px 12px 0px rgba(0, 64, 128, 0.40);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ModalHead {
	height: 32px;
	background: #0D6FB8;
	box-shadow: 2px 2px 12px 0px rgba(22, 79, 137, 0.40);
}

.ModalHead p {
	text-align: center;
	margin: 0;
	margin-left: 20px;
	width: 90%;
	float: left;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #FFFFFF;
	height: 32px;
	line-height: 32px;
}

.ModalHead span {
	position: relative;
	cursor: pointer;
	float: right;
	top: 2px;
	height: 32px;
	margin-right: 10px;
	text-align: right;
	font-size: 26px;
	line-height: 32px;
	color: #FFFFFF;
}
.ModalHead span>img{
	width: 31px;
	height: 31px;
}
.ModalBodyNav {
	width: 100%;
	height: 30px;
	border-bottom: 2px solid #DFF0FF;
}

.ModalBodyNav>div {
	float: left;
	text-align: center;
	,
	float: left;
	width: 50%;
	height: 30px;
	line-height: 32px;
	font-size: 14px;
}

.m_active {
	border-bottom: 4px solid #3D7CFF;
	color: #3D7CFF;
}

.ModalBodyNav>div>span {
	height: 28px;
	line-height: 30px;
	display: inline-block;
}

.ModalBodyMain {
	overflow-y: auto;
	height: 100%;
}

.ModalList {
	margin-top: 10px;
	list-style: none;
    padding: 0;
    font-size: 14px;
    color: #333;
}

.ModalListItem {
	width: 100%;
	margin: 4px 0;
}

.ModalListItem p {
	margin: 0;
	display: inline-block;
	width: 98px;
	margin-left: 22px;
	/*font-family: PingFangSC-Regular;*/
	/*font-size: 12px;*/
	color: #333333;
	height: 17px;
	line-height: 17px;
}

.ModalListItem span {
	/*font-family: PingFangSC-Regular;*/
	/*font-size: 12px;*/
	color: #333333;
	height: 17px;
	line-height: 17px;
}

.m_bmsg ul li {
	width: 100%;
}

.m_bmsg ul {
	margin-top: 10px;
}

.m_bmsg ul li {
	margin: 4px 0;
}

.m_bmsg ul li p {
	width: 98px;
	margin-left: 22px;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #333333;
	height: 17px;
	line-height: 17px;
}

.m_bmsg ul li span {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #333333;
	height: 17px;
	line-height: 17px;
}